--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-dotenv
google-generativeai
scikit-learn==1.3.2
pandas
numpy
joblib
torch
torchvision
firebase-admin
python-multipart
Pillow
opencv-python-headless
